En primer lugar, la importación de Numpy, Pandas y RegEx

In [1]:
import re
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 30)

Importo el dataset y genero las tablas reducidas con las que voy a trabajar. Me interesan los datos de Australia y Sudáfica para la hipótesis.

In [2]:
data = pd.read_csv("input/GSAF5.csv",encoding='cp1252')
australia = data[(data["Country"]== "AUSTRALIA")]
sudafrica = data[(data["Country"]== "SOUTH AFRICA")]
#Aprovecho para cambiar el nombre de la columna fatal cuando creo las tablas, así trabajaré mejor con ella.
aus = australia[["Date", "Year", "Type", "Activity", "Injury", "Fatal (Y/N)"]].rename(columns={"Fatal (Y/N)": "Fatal"})
sud = sudafrica[["Date", "Year", "Type", "Activity", "Injury", "Fatal (Y/N)"]].rename(columns={"Fatal (Y/N)": "Fatal"})

Como voy a generar nuevas tablas, me interesa que tengan su propio índice para poder acceder a los registros.

In [6]:
aus = aus.reset_index(drop=True)
sud = sud.reset_index(drop=True)

Mirando los datos de los años de Australia, veo que todos los años son coherentes hasta 1978 en los que encuentro 0, así que me saco una tabla de los años erróneos para mirar la columna "Date" que tiene más información y decidir después qué hago con estos datos.

In [7]:
aus_badyear = aus[(aus["Year"]<1788)]
display(aus_badyear)

,Date,Year,Type,Activity,Injury,Fatal
1262,Ca. 5 A.D.,5,Unprovoked,NaN,Aboriginal rock carving depicts man being atta...,N
1263,1880-1899,0,Unprovoked,NaN,Foot severed,N
1264,Before 1909,0,Unprovoked,Fell into the water,FATAL,Y
1265,Before 1936,0,Unprovoked,Net-fishing,Calf bitten,N
1266,1950s,0,Unprovoked,Helmet diving,"No injury, helmet bitten",N
1267,"No date, Before 1963",0,Unprovoked,Diving for trochus,Calf removed,N
1268,"No date, After August 1926 and before 1936",0,Unprovoked,Pearl diving,Leg bitten,N
1269,"""Before the war""",0,Unprovoked,Free diving,Head bitten,N
1270,Before 1927,0,Unprovoked,NaN,NaN,UNKNOWN
1271,No date,0,Unprovoked,Pearl diving,Lacerations to thigh,N
1272,1920 -1923,0,Unprovoked,NaN,FATAL,Y
1273,Before 1906,0,Unprovoked,Fishing,"FATAL, knocked overboard by tail of shark & ca...",Y
1274,Before 1906,0,Unprovoked,Fishing,FATAL,Y
1275,Before 1906,0,Unprovoked,Fishing,FATAL,Y
1276,Before 1906,0,Unprovoked,Swimming,FATAL,Y
1277,Before 1903,0,Unprovoked,Diving,FATAL,Y
1278,Before 1903,0,Unprovoked,Pearl diving,FATAL,Y

Lo mismo pasa con Sudáfrica, detecto que hay registros con año 0 a partir de 1852, así que saco una tabla para visualizar qué son esos registros y decidir qué hago con estos registros.

In [8]:
sud_badyear = sud[(sud["Year"]<1852)]
display(sud_badyear)

,Date,Year,Type,Activity,Injury,Fatal
557,Before 1962,0,Unprovoked,Swimming,"FATAL, body not recovered",Y
558,"No date, Before 3-Jan-1967",0,Unprovoked,Crossing river on a raft,"FATAL, leg severed",Y
559,No date,0,Unprovoked,Wading,Ankle bitten,N
560,No date,0,Unprovoked,Swimming in pool formed by construction of a w...,"FATAL, leg severed",Y
561,Before 1921,0,Unprovoked,Crew swimming alongside their anchored ship,FATAL,Y
562,Before 1921,0,Unprovoked,4 men were bathing,FATAL,Y
563,No date (3 days after preceding incident) & pr...,0,Unprovoked,Fishing,"FATAL, body not recovered but shark was caught...",Y
564,Before 19-Jul-1913,0,Unprovoked,Wading,"FATAL, leg stripped of flesh",Y

In [ ]:
sud[]

In [18]:
lesiones = australia["Injury"].value_counts()
lesiones.sort_values(ascending=False).head(100)

FATAL                                                                                                                                  163
Survived                                                                                                                                28
Foot bitten                                                                                                                             11
Leg bitten                                                                                                                              11
No details                                                                                                                              10
No injury to occupants                                                                                                                   9
Hand bitten                                                                                                                              7
Thigh bitten                                                                                                                             7
No injury                                                                                                                                7
Laceration to leg                                                                                                                        5
Lacerations to leg                                                                                                                       4
No injury, board bitten                                                                                                                  4
FATAL, body not recovered                                                                                                                4
PROVOKED INCIDENT                                                                                                                        4
Lacerations to foot                                                                                                                      4
Laceration to calf                                                                                                                       3
Shark involvement prior to death unconfirmed                                                                                             3
Probable drowning & scavenging                                                                                                           3
Calf bitten                                                                                                                              3
Left leg bitten                                                                                                                          3
Death may have been due to drowning                                                                                                      3
Arm severed                                                                                                                              3
Foot severed                                                                                                                             3
Minor injury                                                                                                                             3
Leg injured                                                                                                                              3
FATAL                                                                                                                                    3
Right leg lacerated                                                                                                                      3
Arm lacerated                                                                                                                            3
No injury, ski bitten                                                                                                                    3
Shark involvement prior to death was not confirmed                                                                                       3
Left thigh lacerated                                                                                                                     3
Right leg bitten                                                                                                                         2
Lacerations to left leg                                                                                                                  2
Puncture wounds to right calf                                                                                                            2
No injury, board damaged                                                                                                                 2
Leg lacerated                                                                                                                            2
Abrasion                                                                                                                                 2
No injury, surfboard dented                                                                                                              2
No injury, knocked off board                                                                                                             2
Finger bitten by hooked shark PROVOKED INCIDENT                                                                                          2
Lacerations to legs                                                                                                                      2
Leg severed                                                                                                                              2
Right foot lacerated                                                                                                                     2
Lacerations to left forearm                                                                                                              2
Hand injured                                                                                                                             2
Ankle injured                                                                                                                            2
Lacerations                                                                                                                              2
Minor injury to leg                                                                                                                      2
No injury to occupants, shark bit propeller                                                                                              2
bite to lower leg                                                                                                                        2
Laceration to right foot                                                                                                                 2
No injury, ski bumped                                                                                                                    2
Missing, believed taken by a shark                                                                                                       2
Lacerations to left calf                                                                                                                 2
No injury, board bumped by shark                                                                                                         2
Hand lacerated                                                                                                                           2
Lacerations to thigh                                                                                                                     2
Arm bitten                                                                                                                               2
FATAL, "bitten in two"                                                                                                                   2
FATAL, legs bitten                                                                                                                       2
Left leg lacerated                                                                                                                       2
Legs bitten                                                                                                                              2
No injury, shark damaged surfboard                                                                                                       2
Minor injuries                                                                                                                           2
Recorded as PROVOKED INCIDENT                                                                                                            2
Missing, thought to have been taken by a shark                                                                                           2
FATAL, right buttock & thigh bitten                                                                                                      2
Recovered                                                                                                                                2
FATAL, right thigh bitten                                                                                                                2
Left foot bitten                                                                                                                         2
Lacerations to right thigh and knee                                                                                                      2
Left arm lacerated                                                                                                                       2
Thigh lacerated                                                                                                                          2
Left calf bitten                                                                                                                         2
Ankle bitten                                                                                                                             2
No injury to occupants, shark shook boat "stem to stern"                                                                                 1
Laceration to right calf                                                                                                                 1
Upper leg bitten PROVOKED INCIDENT                                                                                                       1
Remains recovered from gut of a  3.7 m [12'] tiger shark                                                                                 1
FATAL                       Thigh bitten                                                                                                 1
Severe laceration to arm, necessitating surgical amputation at the elbow                                                                 1
Lacerations to legs & buttocks                                                                                                           1
No injury, Robertson knocked over & Hasler brushed by a shark                                                                            1
No injury to occupant, shark rammed boat                                                                                                 1
Severe laceration to finger                                                                                                              1
Injuries caused by coral, not the  shark                                                                                                 1
No injury, shark nudged surfboard                                                                                                        1
Shark bumped dinghy twice                                                                                                                1
He failed to return, his body was recovered 11/9/1922; chest & abdomen had been bitten by shark/s                                        1
Right hand lacerated by netted shark PROVOKED INCIDENT                                                                                   1
No injury to occupants, shark's teeth embedded in keel                                                                                   1
No injury, speared shark towed Gilles 200 yards & tore hole in diving suit, and hit Dowswell's back with its tail PROVOKED INCIDENT      1
Bitten on left calf and ankle                                                                                                            1
Thigh  lacerated                                                                                                                         1
Bruised in falling overboard as shark bumped boat                                                                                        1
2 puncture wounds in left leg                                                                                                            1
Severe lacerations to right shoulder & arm                                                                                               1
Minor injury                                                                                                                             1
No injury, bumped off board by the shark                                                                                                 1
2 sets of minor lacerations below her right knee                                                                                         1
Name: Injury, dtype: int64

In [6]:
"""años = data["Year"].value_counts()
años.sort_values(ascending=False).head(60)
data["Year"].value_counts() \
            .reset_index() \
            .sort_values('index',ascending=False) \
            .reset_index(drop=False) \
            .set_index('index')["Year"] \
            .head(100)"""

'años = data["Year"].value_counts()\naños.sort_values(ascending=False).head(60)\ndata["Year"].value_counts()             .reset_index()             .sort_values(\'index\',ascending=False)             .reset_index(drop=False)             .set_index(\'index\')["Year"]             .head(100)'

In [9]:
australia["decadas"] = pd.cut(australia.Year,bins=[1939,1949,1959,1969,1979,1989,1999,2009,2019], labels=range(1940,2020,10))

<ipython-input-9-92492d93afc4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  australia["decadas"] = pd.cut(australia.Year,bins=[1939,1949,1959,1969,1979,1989,1999,2009,2019], labels=range(1940,2020,10))

In [ ]:
nullvals = data.isnull().sum()[data.isnull().sum() > 0]
nullvals

In [16]:
australia[["decadas","Year"]]["decadas"].value_counts()
australia.groupby("decadas").agg({"Year":"count"})

         Year
decadas
1940       74
1950       96
1960      134
1970       59
1980       46
1990       70
2000      173
2010      166