En primer lugar, la importación de Numpy, Pandas, RegEx y mi archivo de funciones.

In [1]:
import src.funciones as fc
import re
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 30)

Importo el dataset y genero las tablas reducidas con las que voy a trabajar. Me interesan los datos de Australia y Sudáfica para la hipótesis.

In [2]:
data = pd.read_csv("input/GSAF5.csv",encoding='cp1252')
display(data)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [3]:
australia = data[(data["Country"]== "AUSTRALIA")]
sudafrica = data[(data["Country"]== "SOUTH AFRICA")]
aus = australia[["Date", "Year", "Type", "Activity", "Injury", "Fatal (Y/N)"]].rename(columns={"Fatal (Y/N)": "Fatal"})
sud = sudafrica[["Date", "Year", "Type", "Activity", "Injury", "Fatal (Y/N)"]].rename(columns={"Fatal (Y/N)": "Fatal"})
#Aprovecho para cambiar el nombre de la columna fatal cuando creo las tablas, así trabajaré mejor con ella.

Como voy he generado nuevas tablas (Sudáfrica y Australia), me interesa que tengan su propio índice para poder acceder a los registros.

In [4]:
aus = aus.reset_index(drop=True)
sud = sud.reset_index(drop=True)

Voy a empezar limpiando las tablas para organizar los accidentes por fechas. Quiero ver los años más antiguos para ver desde donde empiezan los registros.

In [5]:
display(aus.groupby('Year').count())
display(sud.groupby('Year').count())

      Date  Type  Activity  Injury  Fatal
Year
0       16    16        13      15     16
5        1     1         0       1      1
1788     1     1         1       1      1
1791     1     1         0       1      1
1803     1     1         0       1      1
...    ...   ...       ...     ...    ...
2012    26    26        25      26     26
2013    20    20        19      20     20
2014    29    29        28      29     29
2015    30    30        30      30     30
2016    23    23        23      23     22

[179 rows x 5 columns]

      Date  Type  Activity  Injury  Fatal
Year
0        8     8         8       8      8
1852     2     2         2       2      2
1862     2     2         1       2      2
1863     1     1         1       1      1
1865     1     1         1       1      1
...    ...   ...       ...     ...    ...
2012     5     5         5       5      5
2013     8     8         8       8      8
2014     5     5         5       5      5
2015     9     9         9       9      9
2016     3     3         3       3      3

[114 rows x 5 columns]

Mirando los datos de los años de Australia, veo que todos los años son coherentes hasta 1788 en los que encuentro 0. 
En el caso de Sudáfrica es por debajo del 1852 cuando encuentro registros con año 0.
Así que voy a utilizar regex para encontrar un año de referencia y voy a asignarle a la columna date un año menos del que encuentre en la descripción. Será un valor aproximado. Después cruzaré los registros de esas columnas con los que en Year tengan año 0.

In [6]:
aus["Date"] = aus["Date"].apply(fc.limpiadate)  
sud["Date"] = sud["Date"].apply(fc.limpiadate)

Voy a crear dos tablas a partir de las originales que solamente me incluyan los años erróneos "0" para cruzar los registros modificados de "Date" con los de "Year"

In [7]:
aus_badyear = (aus[(aus["Year"]<1788)])
display(aus_badyear)
sud_badyear = (sud[(sud["Year"]<1852)])
display(sud_badyear)

,Date,Year,Type,Activity,Injury,Fatal
1262,Ca. 5 A.D.,5,Unprovoked,NaN,Aboriginal rock carving depicts man being atta...,N
1263,1879,0,Unprovoked,NaN,Foot severed,N
1264,1908,0,Unprovoked,Fell into the water,FATAL,Y
1265,1935,0,Unprovoked,Net-fishing,Calf bitten,N
1266,1949,0,Unprovoked,Helmet diving,"No injury, helmet bitten",N
1267,1962,0,Unprovoked,Diving for trochus,Calf removed,N
1268,1925,0,Unprovoked,Pearl diving,Leg bitten,N
1269,"""Before the war""",0,Unprovoked,Free diving,Head bitten,N
1270,1926,0,Unprovoked,NaN,NaN,UNKNOWN
1271,No date,0,Unprovoked,Pearl diving,Lacerations to thigh,N
1272,1919,0,Unprovoked,NaN,FATAL,Y
1273,1905,0,Unprovoked,Fishing,"FATAL, knocked overboard by tail of shark & ca...",Y
1274,1905,0,Unprovoked,Fishing,FATAL,Y
1275,1905,0,Unprovoked,Fishing,FATAL,Y
1276,1905,0,Unprovoked,Swimming,FATAL,Y
1277,1902,0,Unprovoked,Diving,FATAL,Y
1278,1902,0,Unprovoked,Pearl diving,FATAL,Y

,Date,Year,Type,Activity,Injury,Fatal
557,1961,0,Unprovoked,Swimming,"FATAL, body not recovered",Y
558,1966,0,Unprovoked,Crossing river on a raft,"FATAL, leg severed",Y
559,No date,0,Unprovoked,Wading,Ankle bitten,N
560,No date,0,Unprovoked,Swimming in pool formed by construction of a w...,"FATAL, leg severed",Y
561,1920,0,Unprovoked,Crew swimming alongside their anchored ship,FATAL,Y
562,1920,0,Unprovoked,4 men were bathing,FATAL,Y
563,1912,0,Unprovoked,Fishing,"FATAL, body not recovered but shark was caught...",Y
564,1912,0,Unprovoked,Wading,"FATAL, leg stripped of flesh",Y

In [24]:
lesiones = australia["Injury"].value_counts()
lesiones.sort_values(ascending=False).head(100)

FATAL                                                                      163
Survived                                                                    28
Foot bitten                                                                 11
Leg bitten                                                                  11
No details                                                                  10
No injury to occupants                                                       9
Hand bitten                                                                  7
Thigh bitten                                                                 7
No injury                                                                    7
Laceration to leg                                                            5
Lacerations to leg                                                           4
PROVOKED INCIDENT                                                            4
Lacerations to foot                                                          4
FATAL, body not recovered                                                    4
No injury, board bitten                                                      4
Arm lacerated                                                                3
FATAL                                                                        3
Shark involvement prior to death unconfirmed                                 3
Calf bitten                                                                  3
Left thigh lacerated                                                         3
Right leg lacerated                                                          3
Arm severed                                                                  3
Foot severed                                                                 3
Left leg bitten                                                              3
Laceration to calf                                                           3
Leg injured                                                                  3
Probable drowning & scavenging                                               3
Minor injury                                                                 3
Death may have been due to drowning                                          3
No injury, ski bitten                                                        3
Shark involvement prior to death was not confirmed                           3
No injury, board damaged                                                     2
Leg severed                                                                  2
Hand lacerated                                                               2
Ankle bitten                                                                 2
Hand injured                                                                 2
Lacerations to right thigh and knee                                          2
FATAL, "bitten in two"                                                       2
Ankle injured                                                                2
FATAL, legs bitten                                                           2
Left calf bitten                                                             2
Left arm lacerated                                                           2
Missing, thought to have been taken by a shark                               2
Minor injury to leg                                                          2
Recovered                                                                    2
Arm bitten                                                                   2
Lacerations to left forearm                                                  2
Recorded as PROVOKED INCIDENT                                                2
Thigh lacerated                                                              2
Missing, believed taken by a shark                                           2
Laceration to right foot                                                     2
Right leg bitten                                                             2
No injury, shark damaged surfboard                                           2
No injury, board bumped by shark                                             2
bite to lower leg                                                            2
Finger bitten by hooked shark PROVOKED INCIDENT                              2
No injury, ski bumped                                                        2
Lacerations to thigh                                                         2
Minor injuries                                                               2
Abrasion                                                                     2
Left foot bitten                                                             2
Right foot lacerated                                                         2
FATAL, right buttock & thigh bitten                                          2
Lacerations                                                                  2
Left leg lacerated                                                           2
FATAL, right thigh bitten                                                    2
Legs bitten                                                                  2
Lacerations to legs                                                          2
Leg lacerated                                                                2
Lacerations to left leg                                                      2
Lacerations to left calf                                                     2
Puncture wounds to right calf                                                2
No injury, knocked off board                                                 2
No injury, surfboard dented                                                  2
No injury to occupants, shark bit propeller                                  2
Left arm bitten                                                              1
FATAL, right leg, thigh & fingers lacerated                                  1
No inury                                                                     1
Puncture wounds on wrist                                                     1
Leg severed, but survived                                                    1
Lacerations to left elbow                                                    1
Severe bite to hand                                                          1
He tried to hit shark with paddle, shark bumped  ski  PROVOKED INCIDENT      1
No Injury to occupants                                                       1
Lacerations to hand                                                          1
Heel injured                                                                 1
Severe laceration to left buttock & thigh                                    1
Laceration to left calf from hooked shark PROVOKED INCIDENT                  1
"Lost his arm"                                                               1
Swept out to sea, feared taken by shark                                      1
No injury, shark holed boat                                                  1
Laceration to left foot & ankle by netted shark PROVOKED INCIDENT            1
FATAL, left leg severed                                                      1
Laceration to right leg                                                      1
No injury, board dented                                                      1
FATAL, shark seized her by the chest and took her underwater                 1
Puncture wounds on heel, legs and buttocks                                   1
20 punctures in right foot                                                   1
Left arm & right hand severed, lacerations to both legs                      1
Left thigh severely bitten                                                   1
Name: Injury, dtype: int64

In [25]:
display(data)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [26]:
sud.isnull().sum().sort_values(ascending=False).head(30)

Activity    44
Injury       1
Fatal        0
Type         0
Year         0
Date         0
dtype: int64

In [27]:
"""años = data["Year"].value_counts()
años.sort_values(ascending=False).head(60)
data["Year"].value_counts() \
            .reset_index() \
            .sort_values('index',ascending=False) \
            .reset_index(drop=False) \
            .set_index('index')["Year"] \
            .head(100)"""

'años = data["Year"].value_counts()\naños.sort_values(ascending=False).head(60)\ndata["Year"].value_counts()             .reset_index()             .sort_values(\'index\',ascending=False)             .reset_index(drop=False)             .set_index(\'index\')["Year"]             .head(100)'

In [28]:
australia["decadas"] = pd.cut(australia.Year,bins=[1939,1949,1959,1969,1979,1989,1999,2009,2019], labels=range(1940,2020,10))

<ipython-input-28-92492d93afc4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  australia["decadas"] = pd.cut(australia.Year,bins=[1939,1949,1959,1969,1979,1989,1999,2009,2019], labels=range(1940,2020,10))

In [29]:
nullvals = data.isnull().sum()[data.isnull().sum() > 0]
nullvals

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [30]:
australia[["decadas","Year"]]["decadas"].value_counts()
australia.groupby("decadas").agg({"Year":"count"})

         Year
decadas
1940       74
1950       96
1960      134
1970       59
1980       46
1990       70
2000      173
2010      166